.mainResetPassword {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 999;

  //DEFINE CLASSNAME

  // h1 {
  //   font-size: 20px;
  //   margin-bottom: 20px;
  // }

  //DEFINE CLASSNAME

  // input {
  //   width: 100%;
  //   padding: 10px;
  //   margin-bottom: 10px;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   font-size: 16px;
  // }

  .error-message {
    color: #f00;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .saveBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #0056b3;
    }
  }

  .cancelBtn {
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #999;
    }
  }
}
