
// swiper.scss

.swiper-container {
    width:250px;
    height: 250px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Other styling properties as needed */
  }
  