$rami-blue: #1579f2;

.days-scroll-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.days-scroll-container::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

.days-scroll-container::-webkit-scrollbar-track {
  background: lightgray;
}

.days-scroll-container::-webkit-scrollbar-thumb {
  background: #1579f2; /* Use the color value directly */
  border-radius: 5px;
}

.days-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #0f54a9;
}

.day-container {
  flex-shrink: 0;
  margin-right: 20px;
  padding: 20px;
  color: white;
  background-color: $rami-blue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.day-container:hover {
  transform: translateY(-5px);
}

.selected {
  background-color: $rami-blue;
  color: white;
  background-color: #0d3e7a;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.available-deliveries-title {
  color: $rami-blue;
  font-size: 1.7rem;
}
