$rami-blue: #1579f2;

.payment-main {
  margin-right: 7rem;

  .payment-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    min-height: 250px;
    padding: 16px 0 16px 0;
    background-color: #fff;
    color: $rami-blue;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1140px) {
      min-width: 430px;
    }

    .payment-title {
      width: 95%;
      padding-right: 1rem;
      margin: 0 1rem 0 1rem;
      border-bottom: 1px solid #f3f5f8;
    }

    .add-pament-wrapper {
      margin-top: 2rem;

      .add-payment-method {
        font-size: 1rem;
      }

      .add-payments {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f3f5f800;
        border: none;
        color: $rami-blue;
        font-size: 1rem;

        svg {
          background-color: white;
          height: 66px;
          width: 66px;
          border-radius: 50px;
          padding: 19px 23px 19px 23px;
          fill: $rami-blue;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
