$rami-blue: #1579f2;

.user-details-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: fit-content;
  padding: 16px 0 16px 0;
  margin-right: 5rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1120px) {
    width: 310px;
    height: fit-content;
  }

  .user-details-title {
    padding-right: 1rem;
    margin: 0 1rem 0 1rem;
    color: $rami-blue;
    border-bottom: 1px solid #f3f5f8;
  }

  .user-details-div {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 1.7rem;
  }

  .user-details-field {
    display: flex;
    flex-flow: row;
    margin-bottom: 20px;

    @media screen and (min-width: 1500px) {
      width: 220px;
    }
  }

  .user-details-field label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .user-details-field input {
    height: 40px;
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f5f8;
    font-size: 16px;
    color: #333;
    border: none;
  }

  .remove-user-btn {
    font-size: 1rem;
    color: red;
    background-color: #cccccc00;
    border: none;
    margin-right: 35rem;

    @media screen and (max-width: 1120px) {
      width: 230px;
      margin: 1rem 6rem 0 0;
    }
  }

  .update-details-btn {
    text-decoration: underline;
    background-color: #cccccc00;
    border: none;
    align-items: right;
  }

  .set-gender {
    width: 220px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 600px) {
    .user-details-field {
      flex: 1 1 100%;
    }
  }

  .set-gender {
    label {
      margin-right: 0.4rem;
    }
    .choose-gender {
      display: flex;
      flex-flow: row;

      .gender {
        margin-left: 0.5rem;
      }
    }
  }
}
