.nav-item {
  width: 120px;
  height: 92px;
  border: none;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  user-select: none;
  font-size: 16px;

  &:hover {
    background-color: rgb(241, 240, 240);
    border-radius: 6px;
  }

  @media screen and (max-width: 1720px) {
    font-size: 15px;
    width: 93px;
    height: 95px;
  }
  @media screen and (max-width: 1690px) {
    font-size: 15px;
    width: 90px;
    height: 95px;
  }
  @media screen and (max-width: 1640px) {
    font-size: 15px;
    width: 87px;
    height: 95px;
  }

  @media screen and (max-width: 1590px) {
    font-size: 15px;
    width: 82px;
    height: 95px;
  }

  @media screen and (max-width: 1520px) {
    width: 77px;
    font-size: 13px;
    height: 95px;
  }

  @media screen and (max-width: 1480px) {
    width: 70px;
    font-size: 13px;
    height: 95px;
  }

  @media screen and (max-width: 1380px) {
    width: 58px;
    font-size: 13px;
    height: 95px;
  }

  @media screen and (max-width: 1140px) {
    width: 53px;
    font-size: 13px;
    height: 95px;
  }
  @media screen and (max-width: 1060px) {
    width: 48px;
    font-size: 13px;
    height: 95px;
  }

  @media screen and (max-width: 950px) {
    display: flex;
    flex-direction: column;
    height: 40px;
    text-align: right;
    width: 100%;
  }
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
  text-decoration: none;
  color: inherit;
  padding-bottom: 0.9rem;
}

.navbar-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  @media screen and (max-width: 950px) {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 0;
    padding: 0;
  }
}

.nav-category {
  @media screen and (max-width: 950px) {
    margin-right: 1rem;
  }
}

.sub-category {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 1rem;
  width: 200px;
  margin-top: 1rem;
  margin-left: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: black;

  @media screen and (max-width: 950px) {
    width: 100%;
    margin-left: 0;
  }
}
