
body {
    font-family:  'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

.menu {
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .menu li {
    border-radius: 15px; 
  }
  
  .menu a {
    text-decoration: none;
    color: inherit;
  }
  }
  /* Add any other styles specific to your menu items */
  