body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
      background-color: #f3f5f8;


#main-menu {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin-right: 5px;
}

.navbar-app {
  padding: 0;
}

  .menu {
    width: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  

  .menu li {
    border-radius: 15px;
  }

  .menu a {
    text-decoration: none;
    color: inherit;
  }
}
