$button: #1579f2;

body {
  color: $button;

  .shopping-cart {
    margin: -7rem 0 0 10rem;
    float: left;
    width: 140px;
    height: 86px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1900px) {
      margin: -7rem 0 0 9.7rem;
      width: 130px;
    }

    @media screen and (max-width: 1800px) {
      margin: -7rem 0 0 9.2rem;
      width: 130px;
    }

    @media screen and (max-width: 1680px) {
      margin: -7rem 0 0 8.5rem;
      width: 120px;
    }
    @media screen and (max-width: 1540px) {
      margin: -7rem 0 0 7.9rem;
      width: 110px;
    }
    @media screen and (max-width: 1490px) {
      margin: -7rem 0 0 7.8rem;
      
    }
    @media screen and (max-width: 1420px) {
      margin: -7rem 0 0 7.5rem;
      
    }
    @media screen and (max-width: 1390px) {
      margin: -7rem 0 0 7.1rem;
      width: 100px;
    }

    @media screen and (max-width: 1292px) {
      display: none;
    }

    .cart-icon {
      justify-content: center;
      padding-top: 8px;
    }

    .cart-price {
      color: $button;
      background-color: white;
      border: none;
      align-items: center;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
  .cart-icon {
    color: $button;
  }
}
