$rami-blue: #1579f2;

.shopping-cart {
  left: 1.2rem;
  height: 100vh;
  width: 300px;

  .cart-content {
    width: calc(100% - 10px);
    position: relative;
    height: 100%;
    background-color: #f3f5f8;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $rami-blue #f1f1f1;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 7px;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $rami-blue;
      border-radius: 15px;
    }

    .cart-item {
      position: relative;
      background-color: white;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      margin-top: 0.3rem;
      margin-left: 0.3rem;
      border-radius: 10px;

      .prod-name-cart {
        width: 200px;
      }
    }

    .product-details-cart {
      display: flex;
      align-items: center;
      width: 280px;
      color: black;
      padding: 10px;
    }

    img {
      width: 60px;
      height: 50px;
      padding: 0 5px;
      margin-left: 1rem;
    }

    .prod-name-cart {
      margin: 0;
      font-size: 16px;
    }

    .cart-items-price {
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding-top: 10px;
      width: 150px;
      text-align: left;
      font-size: 14px;
      color: $rami-blue;
    }

    .main-price {
      font-weight: bold;
    }

    .decimal-price {
      font-size: 80%;
    }
  }

  .rami-online-cart {
    position: fixed;
    width: 20px;
  }

  .cart-counter {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}
