.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

  .product-card {
    width: 280px;
    height: 360px;
    margin: 0.2rem;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;

    @media screen and (max-width: 1620px) {
      width: 240px;
      height: 340px;
    }

    @media screen and (max-width: 1340px) {
      width: 210px;
      height: 340px;
    }

    @media screen and (max-width: 990px) {
      width: 240px;
      height: 350px;
    }

    .card-title {
      font-size: 1em;
      max-height: 32px;
      color: #333;
      font-weight: bold;
      margin-bottom: 7px;
    }

    .card-desc {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 10px;
    }

    .card-price {
      margin-bottom: 0;
      color: #1579f2;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: left;

      .card-shekel {
        font-weight: 400;
        font-size: 1rem;
      }

      .per-unit {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .carousel-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .product-img {
      margin-bottom: 1rem;
      max-height: 200px;
      width: 190px;
      padding-top: 1rem;
      border-radius: 12px; /* Round corners of the image */

      @media screen and (max-width: 1700px) {
        height: 180px;
      }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #1579f2; /* Change carousel control buttons background color */
    }
  }

  .card-price-discount {
    font-size: 1rem;
    margin-bottom: 0;

    .sale-tag {
      position: absolute;
      text-align: center;
      width: 74px;
      height: 24px;
      padding: 3px;
      right: 0rem;
      top: 0rem;
      font-size: 0.9rem;
      border-radius: 15px 15px 0 15px;
      color: white;
      background-color: #2485da;
    }

    .rami-club-img {
      position: absolute;
      top: 0.3rem;
      right: 3.9rem;
      height: 19px;
      width: 22px;
    }
  }

  .card-original-price {
    text-decoration: line-through;
    color: #929191;
    font-size: 1rem;
  }
}
