.product-card {
  height: 374px;
  width: 274px;
  margin: 0 0.5rem 0 0.5rem;
  padding: 8px 8px 0 8px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
}
