$button: #1579f2;

.register-main {
  margin: 1rem auto auto auto;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  width: fit-content;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .register-title {
    font-size: 27px;
    margin: 20px;
    color: $button;
  }
  .reg-svg {
    margin: 3px 0 8px 6px;
  }

  .exit-reg-svg {
    float: left;
    color: $button;
    margin-top: -0.7rem;
  }

  .register-form {
    margin: auto;
    display: flex;
    flex-flow: column;

    input,
    label,
    .register-btn {
      margin: 9px auto auto auto;
      height: 40px;
      width: 300px;
    }

    input {
      max-width: 500px;
      margin-bottom: 5px;
      background-color: #f3f5f8;
      border: none;
      text-align: center;
      font-size: 14px;
      border-radius: 7px;
      padding: 8px;

      &::placeholder {
        text-align: center;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .register-btn {
    height: 42px;
    max-width: 200px;
    border: none;
    color: white;
    background-color: $button;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px;

    &:focus {
      outline: none;
    }
  }

  .register-cancel {
    width: 200px;
    font-size: 18px;
    border: none;
    background-color: #fff;

    &:focus {
      outline: none;
    }
  }

  .reg-disclaimers {
    margin: 35px auto auto auto;
    max-width: 560px;
    text-align: right;
    font-size: 0.8rem;
  }
}

.reg-pass-wrapper {
  position: relative;

  .show-password-btn {
    position: absolute;
    margin-top: 0.9rem;
    margin-right: 15.8rem;
    background-color: transparent;
    border: none;
  }
}
.reg-confirm-wrapper {
  position: relative;

  .show-con-password-btn {
    position: absolute;
    margin-top: 0.9rem;
    margin-right: 15.8rem;
    background-color: transparent;
    border: none;
  }
}
