.cards-container {
  // display: grid;
  // grid-template-columns: repeat(1, 6fr); // Three columns with equal width
  // grid-gap: 20px; // Gap between grid items
}

.product-sub-category {
  margin: 0 8px 8px 8px;
  padding: 8px;
  color: #1579f2;
  font-size: 2rem;
}
