.category-visual-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.product-sub-category {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: fit-content;
  overflow: hidden;
}

.product-sub-category {
  margin: 20px 0;
  padding: 8px;
  color: #1579f2;
  font-size: 1.8rem;
  text-align: center;
}

.sub-category-title {
  text-align: right;
}

.sub-categories-feed {
  display: grid;

  justify-content: space-around;
}
