.category-visual-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.product-sub-category {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.product-sub-category {
  margin: 20px 0;
  padding: 8px;
  color: #1579f2;
  font-size: 1.8rem;
  text-align: center;
  margin-right: 1.5rem;
  // width: 100%; /* Ensure the sub-category heading takes full width */
}

.sub-categories-feed {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
