.update-user-password-container{
    width: fit-content;
  margin: 1rem auto auto auto;
  padding: 2rem 1.5rem 3rem 1.5rem;
  justify-content: center;
  text-align: center;
  width: fit-content;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .update-user-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input[type='password'] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .form-group button {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
}