.update-user-password-container {
  max-width: 500px;
  margin: 1rem auto auto auto;
  padding: 0 2rem 0.5rem 2rem;
  justify-content: center;
  text-align: center;
  width: fit-content;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .modal-header {
    border: none;
  }

  .update-user-password-form {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .new-password-closeBtn {
    font-size: 2rem;
    padding-bottom: 13px;
    background-color: #fff;
    border: none;
    color: #1579f2;
  }

  .new-password-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  .lock-svg {
    width: 21px;
    height: 30px;
  }

  .new-password-input {
    width: 388px;
    height: 40px;
    background-color: #f3f5f8;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    border: none;
  }

  .new-password-btns {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0.5rem;
    gap: 8px; /* Add gap between buttons */
  }

  .new-pass-save,
  .new-pass-cancel {
    width: 136px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .new-pass-save {
    background-color: #1579f2;
    color: white;
  }
}
