.update-user-password-container {
  max-width: 500px;
  margin: auto;
  padding: 0.5rem;
  justify-content: center;
  text-align: center;
  width: fit-content;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: none;
  }

  .update-user-password-form {
    display: flex;
    flex-direction: column;
  }

  .new-password-closeBtn {
    display: flex;
    flex-flow: row;
    font-size: 1rem;
    padding-bottom: 5px;
    background-color: #fff;
    border: none;
    color: #1579f2;

    .exit-pass-svg {
      margin: 0 7rem 0 0;
    }
  }

  .new-password-title {
    margin: 0.4rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  .lock-svg {
    width: 21px;
    height: 30px;
  }

  .new-password-input {
    width: 388px;
    height: 38px;
    padding: 8px;
    background-color: #f3f5f8;
    margin: 0 48px 0.5rem 48px;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    border: none;

    &::placeholder {
      text-align: center;
    }

    &:focus {
      outline: none;
    }
  }

  .new-password-btns {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 3.5rem;
    gap: 8px; /* Add gap between buttons */
  }

  .new-pass-save,
  .new-pass-cancel {
    width: 136px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .new-pass-save {
    background-color: #1579f2;
    color: white;
  }

  .newPass-old-wrappere {
    position: relative;

    .show-old-password-btn {
      position: absolute;
      margin: 0.5rem 24rem 0 0;
      border: none;
      background-color: transparent;
    }
  }

  .newPass-new-wrapper {
    position: relative;

    .show-new-passwordBtn {
      position: absolute;
      margin: 0.5rem 24rem 0 0;
      border: none;
      background-color: transparent;
    }
  }

  .newPass-confirm-wrapper {
    position: relative;

    .show-confirm-passwordBtn {
      position: absolute;
      margin: 0.5rem 24rem 0 0;
      border: none;
      background-color: transparent;
    }
  }
}
