$rami-blue: #1579f2;

.closed-cart-main {
  background-color: #f3f5f8;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 3rem;
  margin-top: -0.4rem;
  gap: 5rem;

  .closed-cart,
  .closed-basket {
    height: 30px;
    display: flex;
    flex-direction: row;

    .price,
    .basket-price {
      margin-right: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: $rami-blue;
    }
  }

  @media screen and (max-width: 990px) {
    display: none;
  }
}
