$rami-blue: #1579f2;

.product-modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.product-details {
  padding: 20px;
}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  margin-bottom: 10px;
}

.carousel-item {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.product-img {
  width: 100%;
  height: auto;
  display: block;
}

.product-buttons {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.close-prodBtn {
  margin-right: 25rem;
  background-color: transparent;
  color: $rami-blue;
  border: none;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s ease;
  z-index: 1;

  &:hover {
    background-color: transparent;
  }
}

.prod-price {
  color: $rami-blue;
  font-size: 2.5rem;
  font-weight: 600;

  .ILS-sign {
    font-size: 0.875em;
    font-weight: 400;
  }
}
.prod-desc {
  padding-right: 20px;
}
