.hp-feed-main {
  .hp-feed-title {
    margin: 1rem 0;
    padding: 0 8px;
    font-size: 1.75rem;
  }

  .best-seller-prods {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7rem;
    gap: 1.5rem;
  }
}
