$rami-blue: #1579f2;

.admin-main-page-container {
  text-align: center;
  margin: 5rem auto;
  max-width: 600px;
  justify-content: center;
}

.admin-zone-title {
  font-size: 35px;
  margin-bottom: 20px;
  color: $rami-blue;
}

.admin-greet {
  font-size: 25px;
  margin-bottom: 20px;
  color: $rami-blue;
}

.manage-productsBtn,
.manage-usersBtn,
.manage-salesBtn,
.admin-backBtn {
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;

  &:hover {
    background-color: #0056b3;
  }
}
.admin-backBtn,
.manage-usersBtn {
  margin-right: 0.5rem;
}
