.shopping-cart-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  width: 282px;
  height: 55px;
  padding: 8px;
  margin-top: 0.5rem;
  border-radius: 10px;
  font-size: 1.3rem;
  color: white;
  background-color: #1579f2;
  transition: bottom 0.3s ease;
  z-index: 2;

  @media screen and (max-width: 990px) {
    margin-left: 100rem;
  }

  &.open {
    top: 90vh;
  }

  &.closed {
    top: 5.7rem;
    left: 1.7rem;
  }
  &.to-pay-pressed {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #db1f26 !important;
  }
  .toggle-cart-button {
    color: white;
    border: 1px solid white;
    width: 45px;
    height: 35px;
    margin-left: 2.2rem;
    font-size: 1rem;
    border-radius: 7px;
    padding: 5px;
    background: transparent;
    cursor: pointer;
  }

  .total-price-bar {
    font-weight: bolder;
    font-size: 1.6rem;
  }

  .shekel-bar {
    font-size: 0.875em;
    font-weight: 400;
  }

  .toggle-pay-text {
    padding: 0;
    background-color: transparent;
    border: none;
    color: white;
  }
}
