$rami-blue: #1579f2;

.subcategory-title {
  padding: 16px 0 16px 0;
  font-size: 1.8rem;
  color: $rami-blue;
}

.sub-cat-prods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
}
