
  
  .two-in-one-modal-body {
    padding: 20px;
    background-color: black;
  }
  .address-section,
  .deliveries-section {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .address-section {
    border: 1px solid #cccccc;
  }
  
  .deliveries-section {
    border: 1px solid #cccccc;
  }
  