// subCategoryMenu.scss
.sub-category-menu {
  text-align: right;
  display: flex;
  flex-direction: row;
  background-color: #f3f5f8;
  position: absolute;
  right: 0.1rem;
  top: 5.6rem;
  width: 83vw;
  height: 380px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.category-container {
  display: block;
  height: 250px;
  width: 250px;
  margin-top: 0.4rem;
  margin-left: 2rem;
  position: relative; /* Add relative positioning */
}

.sub-cat-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-y: hidden;
  margin-right: 0.7rem;
  padding: 0.2rem;
}

.sub-cat-items {
  list-style: none;
  padding: 3px 0 3px 0;
  margin: 0;
  flex-grow: 1;
}

.sub-cat-chevron {
  position: absolute; /* Position the chevron absolutely */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.chevron-icon {
  cursor: pointer;
}

.sub-cat-chevron::after {
  content: "▼";
  font-size: 24px;
}

.sub-cat-name {
  padding-right: 0.2rem;
}
