$rami-blue: #1579f2;

.add-new-category-main {
  width: 320;
  margin: auto;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .add-food-category-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: $rami-blue;
  }

  input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 250px;
    margin-bottom: 0.4rem;
    background-color: #f3f5f8;
    border: none;
    text-align: center;
    font-size: 14px;
    border-radius: 7px;
    padding: 8px;
  }
}
