$button: #1579f2;

.custom-modal {
  .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
  }
}

.greet-user {
  float: left;
  margin: -3.2rem 0 0.8rem 12.5rem;
  user-select: none;
  font-size: 1rem;
  border-radius: 9px;
  padding: 4px 7px 2px 7px;

  @media screen and (max-width: 1120px) {
    display: none;
  }

  &:hover {
    background-color: rgba(211, 211, 211, 0.493);
  }

  &.menu-open {
    background-color: rgba(211, 211, 211, 0.493);
  }

  .loggedin-Svg {
    margin: 0 0 0.4rem 0.5rem;
    width: 18px;
    height: 18px;
  }
}

.logout-btn {
  border: none;
  background-color: #f3f5f8;
}

.go-to-adminBtn {
  border: none;
  color: $button;
  background-color: #f3f5f8;
}

button.to-shoppin-navBar {
  margin-left: -5rem;
}

.rami-shopping {
  height: 20px;
  width: 170px;
  margin: 0;

  @media screen and (max-width: 950px) {
    height: 17px;
    width: 120px;
  }

  @media screen and (max-width: 320px) {
    display: none;
  }
}
