$button: #1579f2;

.to-main-navBar {
  background-image: linear-gradient(#b4cff1, white);
  border-bottom-left-radius: -20px;
  height: 65px;
  max-width: 330px;
  margin-right: 0.5rem;
  border: none;
  @media screen and (max-width: 950px) {
    background-image: linear-gradient(#f3f5f8, #f3f5f8);
  }

  .rami-online {
    width: 200px;
    height: 20px;
    margin: 0.7rem 1rem 0.5rem auto;
    @media screen and (max-width: 950px) {
      height: 17px;
      width: 120px;
    }
  }
}

.hp-loginBtn,
.access {
  margin: 1rem 0 0 0;
  float: left;
  color: $button;
  user-select: none;
  font-size: 0.5;
  background-color: #f3f5f8;
  border: none;

}
.hp-loginBtn{
  margin: -3rem 0 0 12rem;

  @media screen and (max-width: 1700px) {
    margin: -3rem 0 0 10rem;
  }

  .hp-loginSvg {
    margin: 0 0 0 0.2rem;
    width: 17.18px;
    height: 19.25px;
    @media screen and (max-width: 1020px) {
   display: none;
    }
  }
}

.login-title {
  @media screen and (max-width: 1100px) {
    display: none;
  }
}
.access {
  float: left;
  text-decoration: underline;
  margin: -3rem 0 0 2.2rem;
  font-size: 0.9rem;

  @media screen and (max-width: 950px) {
    display: none;
  }
}

.to-shoppin-navBar {
  float: inline;
  height: 60px;
  max-width: 330px;
  border-bottom-right-radius: 22px;
  margin-right: -0.2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: #f3f5f8;
  border: none;

  @media screen and (max-width: 950px) {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }

  .rami-shopping {
    height: 20px;
    width: 170px;
    margin-right: 1rem;

    @media screen and (max-width: 950px) {
      height: 17px;
      width: 120px;
    }

    @media screen and (max-width: 320px) {
      display: none;
    }
  }
}
