.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f5f8; /* Add your desired background color */
  z-index: 1000; /* Adjust the z-index as needed to ensure the header is above other content */
  /* Add any other styling you need */
}

/* Adjust the padding of the content below the fixed header */
