$remi-blue: #1579f2;

.basket-main {
  color: $remi-blue;
  margin-left: 1.2rem;

  .shopping-basket {
    margin: -7rem 0 0 0;
    float: left;
    width: 135px;
    height: 86px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1910px) {
      margin: -7rem 0 0 0.1rem;
      width: 120px;
    }
    @media screen and (max-width: 1550px) {
      margin: -7rem 0 0 0.1rem;
      width: 120px;
    }
    @media screen and (max-width: 1220px) {
      margin: -7rem 0 0 0.1rem;
      width: 120px;
    }
    @media screen and (max-width: 1060px) {
      margin: -7rem 0 0 -0.2rem;
      width: 120px;
    }
    @media screen and (max-width: 990px) {
      display: none;
    }

    .basket-icon {
      justify-content: center;
      padding-top: 7px;
      margin-right: 20px;
    }

    .basket-price {
      color: $remi-blue;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .basket-icon {
    color: $remi-blue;

    .basket-svg {
      width: 50px;
      height: 40px;
    }
  }

  .basket-shekel {
    font-size: 0.875em;
    font-weight: 400;
  }
}
