$button: #1579f2;

body {
  color: $button;

  .shopping-basket {
    margin: -7rem 0 0 0.5rem;
    float: left;
    width: 140px;
    height: 86px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1800px) {
      width: 125px;
    }
    @media screen and (max-width: 1730px) {
      width: 118px;
    }
    @media screen and (max-width: 1670px) {
      width: 112px;
    }
    @media screen and (max-width: 1580px) {
      width: 105px;
    }
    @media screen and (max-width: 1490px) {
      width: 100px;
    }
    @media screen and (max-width: 1390px) {
      width: 95px;
    }
    @media screen and (max-width: 1320px) {
      width: 90px;
    }
    @media screen and (max-width: 1292px) {
      display: none;
    }

    .basket-icon {
      justify-content: center;
      padding-top: 7px;
      margin-right: 20px;
    }

    .basket-price {
      color: $button;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      align-items: center;
      font-size: 1.3rem;
      font-weight: bold;

      @media screen and (max-width: 1320px) {
        font-size: 18px;
      }
    }
  }
  .basket-icon {
    color: $button;

    .basket-svg {
      width: 50px;
      height: 40px;
      @media screen and (max-width: 1320px) {
        width: 40px;
        height: 32px;
      }
    }
  }
}
