.sale-card {
    width: 280px;
    height: 380px;
    position: relative;
    background-color: #fff;
    

    img {
        position: absolute;
        top: 20%;
        height: 200px;
        width: 80%;
        border-radius: 12px;
        /* Round corners of the image */
    }

    .discount{
        position: absolute;
        top: 90%;
        left: 5%;
    }

    .description{
        font-size: 1rem;
        color: #666;
        position: absolute;
        top:0;
        left:80%;
        /* Dim the description color */
    }
}