$rami-blue: #1579f2;

.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -7rem 0 0 10.3rem;
  float: left;
  width: 135px;
  height: 86px;
  padding-top: 10px;

  .cart-svg {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1940px) {
    width: 130px;
  }

  @media screen and (max-width: 1900px) {
    margin: -7rem 0 0 10.5rem;
    width: 125px;
  }

  @media screen and (max-width: 1800px) {
    margin: -7rem 0 0 10.7rem;
    width: 120px;
  }
  @media screen and (max-width: 1730px) {
    margin: -7rem 0 0 10.7rem;
    width: 115px;
  }
  @media screen and (max-width: 1670px) {
    margin: -7rem 0 0 11rem;
    width: 115px;
  }
  @media screen and (max-width: 1590px) {
    margin: -7rem 0 0 11rem;
    width: 115px;
  }
  @media screen and (max-width: 1490px) {
    padding-top: 8px;
    margin: -7rem 0 0 11.3rem;
    width: 115px;
  }
  @media screen and (max-width: 1420px) {
    margin: -7rem 0 0 12rem;
    width: 115px;
  }
  @media screen and (max-width: 1390px) {
    margin: -7rem 0 0 12rem;
    width: 115px;
  }
  @media screen and (max-width: 1320px) {
    margin: -7rem 0 0 12rem;
    width: 115px;
  }
  @media screen and (max-width: 1292px) {
    margin: -7rem 0 0 12rem;
    width: 115px;
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }

  .cart-price {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: $rami-blue;
    font-weight: bold;
  }
}
