$rami-blue: #1579f2;

.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -7rem 0 0 10.3rem;
  float: left;
  width: 135px;
  height: 86px;
  padding-top: 10px;

  .cart-svg {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1910px) {
    margin: -7rem 0 0 9.7rem;
    width: 120px;
  }
  @media screen and (max-width: 1550px) {
    margin: -7rem 0 0 9.7rem;
    width: 120px;
  }
  @media screen and (max-width: 1220px) {
    margin: -7rem 0 0 9.7rem;
    width: 120px;
  }
  @media screen and (max-width: 1060px) {
    margin: -7rem 0 0 9.7rem;
    width: 120px;
  }

  @media screen and (max-width: 990px) {
    display: none;
  }

  .cart-price {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: $rami-blue;
    font-weight: bold;
  }
}
