$rami-blue: #1579f2;

.product-card-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .product-desc {
    color: $rami-blue;
  }

  .delete-prod-forSure {
    margin-top: 0.5rem;
    font-size: 20px;
    color: $rami-blue;
    font-weight: bold;
  }
}
.products-searchBar {
  margin: 0.8rem;
  height: 38px;
  width: 250px;
  padding: 5px;
  border: solid 1px gray;
  border-radius: 7px;
}
