.products-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 500px;
  margin: 7rem auto;
  padding: 0;
  background-color: #f6f6f6;
  letter-spacing: 1.3px;
  font-size: 0.9rem;
  z-index: 1;
}
