$rami-blue: #1579f2;

.add-sale-title {
  font-size: 1.8rem;
  margin: 16px 10px;
  color: $rami-blue;
}

.select-sale {
  height: 40px;
  padding: 7px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
}

.add-sale-btn {
  margin: 1rem auto;
}
