.site-footer {
  background-color: #f6f6f6;
  letter-spacing: 1.3px;
  padding: 24px 48px 0 48px;
  position: sticky;
  top: auto;
  left: 0;
  width: 100%;
  margin: 7rem 0 0 0;
  font-size: 0.9rem;
  //z-index: -1;
}

@media screen and (max-width: 950px) {
  .site-footer {
    display: none;
  }
}

.site-footer .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.site-footer .row .col-12 {
  width: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.site-footer h5 {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #212529;
  text-shadow: 0px 1px #212529fa;
}

.site-footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: auto;
}

.site-footer li {
  margin-bottom: 0.5rem;
}

.site-footer a,
.site-footer p {
  text-decoration: none;
  color: #212529;
  margin-bottom: 0.2rem;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer .rights,
.site-footer .version {
  color: #212529;
}

.site-footer .all-rights {
  padding: 16px 0 16px 0;
  font-size: 0.9rem;
}
